<!DOCTYPE html>
<html lang="en" ng-app="readApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">{{page.name}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Comfortaa:wght@300;400&family=Montserrat:wght@300&family=Raleway&family=Work+Sans:wght@300;400&display=swap"
        rel="stylesheet">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
          </script>
</head>

<body ng-controller="readController">
    <div class="container">
        <div class="section">
            <h1 class="comfortaa">{{page.name}}</h1>
        </div>
        <div class="divider"></div>
        <div class="section row">
            <div class="col s3" ng-repeat="font in fonts">
                <button class="btn yellow waves-effect waves-light black-text" type="button"
                    ng-click="setCFont(font)">{{font}}</button>
                <br>
                <br>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s12 content" ng-class="cFont">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div> -->

                </div>
                <div class="col s12 content" ng-class="cFont">
                    <h2 class="montserrat">Objectives</h2>
                    <p>
                        Concretely understanding the strange world of quantum mechanics.
                    </p>
                    <ol>
                        <li ng-repeat="point in points">{{point}}</li>
                    </ol>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s12 content" ng-class="cFont">
                        <h2>The Hydrogen Atom</h2>
                        <p>
                            We now arrive to the most basic atom - hydrogen. A very simple system and the door to moe
                            complex atoms. We consider this system because
                        </p>
                        <ol>
                            <li>Single electron species</li>
                            <li>Simple potential function
                                <ol>
                                    <li>Time independence</li>
                                    <li>Presence of only one electron will remove shielding effects</li>
                                </ol>
                            </li>
                        </ol>
                        <p>
                            Let's start with what we already know from previous models. We shall take the basics and
                            introduce quantum mechanical calculations when needed.
                        </p>
                        <ol>
                            <li>There is a central positive charge - nucleons </li>
                            <li>An negative charge orbits the positive charge - electron</li>
                            <li>The mass of the electron is very minute compared to the positive charge. Any motion of
                                the electron around the nucleus doesn't cause consider shift in nuclear position.</li>
                        </ol>
                        <p>
                            To determine the mechanics of the elctron in the orbit, we need to solve the Schrodigner
                            Wave Equation. Since the potential is time independent, we shall use the time independent
                            schrodinger equation for all calculations.
                        </p>
                        <p>
                            I've been talking about the simple potential function for a while now, well what is it?
                        </p>
                        <p>
                            $$ U(x) = \frac{1}{\sqrt{x^2+y^2+z^2}} $$
                        </p>
                        <p>
                            This is kinda good, but since we are dealing with a 3D system, why not use a better coordinate system for ease. From here one, we can use the spherical polar system. In this system, the potential becomes.
                        </p>
                        <p>
                            $$ U(r) = \frac{1}{r} $$
                        </p>
                    </div>
                </div>git
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

<style>
    .andika {
        font-family: 'Andika New Basic', sans-serif;

    }

    .montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .raleway {
        font-family: 'Raleway', sans-serif;
    }

    .work-sans {
        font-family: 'Work Sans', sans-serif;
    }

    .comfortaa {
        font-family: 'Comfortaa', sans-serif;
    }

    .content {
        font-size: 20px;
        scroll-snap-align: start;
    }

    .hfont {
        font-family: 'Montserrat', sans-serif;
    }

    code {
        background-color: grey;
    }

    html {
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
    }
</style>

<!--Compiled and minified JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<!-- Who knew desmos had an api -->
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script>
    // Superpowered by angular
    angular.module('readApp', [])
        .controller('readController', function ($scope, $sce) {

            // Class page
            function Page(name = "", points = []) {
                this.name = name
                this.points = points
            }


            // Page prep

            page = new Page('Quantum Mechanics', ['Solving the Schrodinger Wave Equation of the potential of the atom'])

            $scope.page = page
            $scope.points = page.points

            document.getElementById('title').innerHTML = $scope.page.name

            // List of fonts
            $scope.fonts = [
                'montserrat',
                'raleway',
                'comfortaa',
                'work-sans',
                'andika'
            ]

            // Default
            $scope.cFont = $scope.fonts[
                // Math.floor(Math.random() * $scope.fonts.length)
                4

            ]

            $scope.setCFont = (sel) => {
                $scope.cFont = sel;
                console.log('Hello');
            }

        })

    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: 'y=x^2' });
</script>

</html>