<!DOCTYPE html>
<html lang="en" ng-app="readApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title"></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Comfortaa:wght@300;400&family=Montserrat:wght@300&family=Raleway&family=Work+Sans:wght@300;400&display=swap"
        rel="stylesheet">

    <!-- <link href="/extras/noUiSlider-14.6.3/distribute/nouislider.min.css" rel="stylesheet">
    <script src="/extras/noUiSlider-14.6.3/distribute/nouislider.min.js"></script> -->

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
          </script>
</head>

<body ng-controller="readController">
    <div class="navbar-fixed">
        <nav class="nav-extended white">
            <div class="nav-wrapper black z-depth-2">
                <a href="#!" class="brand-logo comfortaa left" id="brandlogo" style="margin-left:10px">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#!"> <i class="material-icons">add</i></a></li>
                    <li><a class="range-field">
                            <input ng-model=" fontSize" type="range" id="test5" min="0" max="40" step="0.05" />
                        </a>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Fonts<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
            <ul id="dropdown1" class="dropdown-content">
                <li ng-repeat="font in fonts track by font"><a href="#!" ng-click='setCFont(font)'
                        class="{{font}}">{{font}}</a></li>
            </ul>
        </nav>

    </div>
    <div class="container">
        <div class="section scrollstop scrollspy">
            <!-- <h1 class="comfortaa">{{page.name}}</h1> -->
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s12 content scrollstop" ng-class="cFont">
                    <h2 class="montserrat">Objectives</h2>
                    <p>
                        Materials Term Paper II
                    </p>
                    <ol>
                        <li ng-repeat="point in points">{{point}}</li>
                    </ol>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s12 content" ng-class="cFont" ng-style='{"font-size":fontSize+"px"}'>
                        <h2 class="scrollstop">The Hydrogen Atom</h2>
                        <p>
                            We now arrive at the most basic atom - hydrogen. A straightforward system and the door to
                            more complex atoms. We consider this system because
                        </p>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>

</body>

<style>
    .andika {
        font-family: 'Andika New Basic', sans-serif;

    }

    .montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .raleway {
        font-family: 'Raleway', sans-serif;
    }

    .work-sans {
        font-family: 'Work Sans', sans-serif;
    }

    .comfortaa {
        font-family: 'Comfortaa', sans-serif;
    }

    .content {
        font-size: 20px;
    }

    .hfont {
        font-family: 'Montserrat', sans-serif;
    }

    .scrollstop {
        scroll-snap-align: start;
        scroll-margin-top: 80px;
    }

    input[type=range]::-webkit-slider-thumb {
        background-color: yellow;
    }

    input[type=range]::-moz-range-thumb {
        background-color: yellow;
    }

    input[type=range]::-ms-thumb {
        background-color: yellow;
    }

    /***** These are to edit the thumb and the text inside the thumb *****/
    input[type=range]+.thumb {
        background-color: #dedede;
    }

    input[type=range]+.thumb.active .value {
        color: black;
    }

    code {
        background-color: grey;
    }

    html {
        scroll-behavior: smooth;
        /* scroll-snap-type: y mandatory; */
    }

    .math {
        overflow-x: scroll;
    }
</style>

<!--Compiled and minified JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<!-- Who knew desmos had an api -->
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Find init
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});

        // Dropdown
        var drop_elems = document.querySelectorAll('.dropdown-trigger');
        var drop_instances = M.Dropdown.init(drop_elems, {});

        // Add scroll spy to controls
        var instance = M.Tabs.init(document.getElementById('navtab'), {});
    })
</script>
<script>
    // Superpowered by angular
    var readApp = angular.module('readApp', [])
    readApp.controller('readController', function ($scope, $sce) {

        // Class page
        function Page(name = "", points = []) {
            this.name = name
            this.points = points
        }


        // Page prep
        page = new Page('Quantum Mechanics', ['All random variables in one place.'])

        $scope.page = page
        $scope.points = page.points

        document.getElementById('title').innerHTML = $scope.page.name
        document.getElementById('brandlogo').innerHTML = $scope.page.name

        // List of fonts
        $scope.fonts = [
            'montserrat',
            'raleway',
            'comfortaa',
            'work-sans',
            'andika'
        ]

        // Default
        $scope.cFont = $scope.fonts[
            // Math.floor(Math.random() * $scope.fonts.length)
            4
        ]

        $scope.setCFont = (sel) => {
            $scope.cFont = sel;
            console.log('Hello');
        }

        // Random Variables
        $scope.rvs = []

        function RV(name, df, img, link, mean, vr, cf = '') {
            this.name = name
            this.df = "$$" + df + "$$"
            this.img = img
            this.link = link
            this.mean = "$$" + mean + "$$"
            this.vr = "$$" + vr + "$$"
            this.cf = "$$" + cf + "$$"
            return this
        }

        $scope.rvs.push(new RV(
            "Bernoulli",
            'p(i)= {n \\choose i} p^{i}(1-p)^{n-i}  \\quad i=0,1, \\ldots, n',
            "Number of successes in a repeated independent experiment.",
            "https://www.omnicalculator.com/statistics/binomial-distribution",
            "np",
            "np(1-p)"))
        $scope.rvs.push(new RV(
            "Poisson",
            'p(i)=P\\{X=i\\}=e^{-\\lambda} \\frac{\\lambda^{i}}{i !} \\quad i=0,1,2, \\ldots',
            "Number of successes in an experiment repeated a lot and the probability of success is low. Approximation for a large 'n' bernoulli.",
            "https://www.omnicalculator.com/statistics/poisson-distribution",
            " \\lambda(\\lambda+1)",
            "\\lambda"))
        $scope.rvs.push(new RV(
            "Geometric",
            'p(i) = P\\{X=n\\} = (1-p)^{n-1} p',
            "Number of trials needed until a success.",
            "https://www.omnicalculator.com/statistics/geometric-distribution",
            " \\frac{1}{p}",
            "\\frac{1-p}{p^2}"))
        $scope.rvs.push(new RV(
            "Negative Binomial",
            'p(n) = {n-1 \\choose r-1} p^r (1-p)^{n-r} \\quad n=r,r+1 \\ldots',
            "Number of trials needed until 'r' successes",
            "https://www.omnicalculator.com/statistics/negative-binomial-distribution",
            " \\frac{r}{p}",
            "\\frac{r(1-p)}{p^2}"))
        $scope.rvs.push(new RV(
            "Hypergeometric",
            'p(i) = \\frac{{m \\choose i}{N-m \\choose n-i}}{N \\choose n} \\quad i=0\\ldots n',
            "Number of things of 'm' type in a set of 'n' things chosen from a 'N' (m + (N-m)) ",
            "https://www.omnicalculator.com/statistics/negative-binomial-distribution",
            " \\frac{nm}{N}",
            "np(1-p)(1-\\frac{n-1}{N-1})"))
        // $scope.rvs.push(new RV("Poisson",))

        // Continuous RVs
        $scope.crvs = []

        $scope.crvs.push(new RV(
            "Uniform",
            'f(x) = \\begin{cases} \\frac{1}{\\beta-\\alpha} & \\alpha<x<\\beta \\\\0 & \\text{otherwise} \\end{cases}    ',
            "It's uniform.",
            "",
            " \\frac{\\alpha+\\beta}{2}",
            "\\frac{(\\beta-\\alpha)^2}{12}",
            'F(a) = \\begin{cases} \\ 0 & a < \\alpha \\\\ \\frac{a-\\alpha}{\\beta-\\alpha} & \\alpha<x<\\beta \\\\0 & a>\\beta \\end{cases}',
        ))

        $scope.crvs.push(new RV(
            "Normal",
            'f(x) = \\frac{1}{\\sqrt{2\\pi}\\sigma}e^{\\frac{-(x-\\mu)^2}{2\\sigma^2}}',
            "It's normal. Symmetric about a point. When the mean is 0 and variance is 1, it is called Standard. Any variable can be converted to standard for easy computation by subtracting mean and dividing by standard deviation.",
            "https://www.omnicalculator.com/statistics/normal-distribution",
            "\\mu",
            "\\sigma^2",
            "\\Phi(x) = \\frac{1}{\\sqrt{2\\pi}}\\int_{-\\infty}^x e^{\\frac{-t^2}{2}}dt ",
        ))


        $scope.crvs.push(new RV(
            "Exponential",
            'f(x) = \\lambda e^{-\\lambda x} \\quad x \\geqslant 0',
            "Memory less function. Meaning of hypergeometric? Time until an event. Doesn't depend on past, depends on time from now.",
            "https://www.omnicalculator.com/statistics/exponential-distribution",
            "\\frac{1}{\\lambda}",
            "\\frac{1}{\\lambda^2}",
            "F(a) = 1-e^{-\\lambda a} \\quad a \\geqslant 0",
        ))

    })

    readApp.directive('mathJaxBind', function () {
        var refresh = function (element) {
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, element]);
        };
        return {
            link: function (scope, element, attrs) {
                scope.$watch(attrs.mathJaxBind, function (newValue, oldValue) {
                    element.text(newValue);
                    refresh(element[0]);
                });
            }
        };
    });

    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: 'y=x^2' });
</script>

</html>