<!DOCTYPE html>
<html lang="en" ng-app="readApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">{{page.name}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Comfortaa:wght@300;400&family=Montserrat:wght@300&family=Raleway&family=Work+Sans:wght@300;400&display=swap"
        rel="stylesheet">


</head>

<body ng-controller="readController">
    <div class="container">
        <div class="section">
            <h1 class="comfortaa">{{page.name}}</h1>
        </div>
        <div class="divider"></div>
        <div class="section row">
            <div class="col s3" ng-repeat="font in fonts">
                <button class="btn yellow waves-effect waves-light black-text" type="button"
                    ng-click="setCFont(font)">{{font}}</button>
                <br>
                <br>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s12 content" ng-class="cFont">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div> -->

                </div>
                <div class="col s12 content" ng-class="cFont">
                    <h2 class="montserrat">Objectives</h2>
                    <p>
                        Concretely understanding the strange world of quantum mechanics.
                    </p>
                    <ol>
                        <li ng-repeat="point in points">{{point}}</li>
                    </ol>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s12 content" ng-class="cFont">
                        <h2>Infinite Potential Well</h2>
                        <p>We start with the easiest potential which exists. The infinite potential well. Experience
                            from the free particle shows us that we cannot make a simpler case. In the case of a
                            potential well, we have the properties.</p>
                        <ol>
                            <li>The well has two boundaries. Each having the infinite potential till infinity</li>
                            <li>Between the two wells, the potential is zero.</li>
                        </ol>
                        <p>In both the particle and the wave model, the entity gets reflected at the boundary. It cannot
                            penetarte the barrier. So how does it localize itself inside the well ?</p>
                        <p>We have a differential equation and we need to solve it. We use the constraints of the system
                            as the boundary conditions to solve the differential equation.</p>

                        <p>A simple sinusoid is the answer. Well, actually it's not just the answer. Sinusoids (plural)
                            are the answers. There are multiple sinusoids which satisfy the Schrodinger wave equation
                            for this system. Which is the correct answer ?</p>

                        <p></p>

                        <p>All of them. We need to take a little bit of all of them to construct our solution. The
                            easiest way to see how much to take of each is by normalizing the wave function. By adding
                            one other constarint, all the weights get fixed.</p>

                        <p>Uhh, okay, where is it if I repeat the experiment ? How fast is it moving ? What is it's
                            energy?</p>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

<style>
    .andika {
        font-family: 'Andika New Basic', sans-serif;

    }

    .montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .raleway {
        font-family: 'Raleway', sans-serif;
    }

    .work-sans {
        font-family: 'Work Sans', sans-serif;
    }

    .comfortaa {
        font-family: 'Comfortaa', sans-serif;
    }

    .content {
        font-size: 20px
    }

    .hfont {
        font-family: 'Montserrat', sans-serif;
    }

    code {
        background-color: grey;
    }
</style>

<!--Compiled and minified JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<!-- Who knew desmos had an api -->
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script>
    // Superpowered by angular
    angular.module('readApp', [])
        .controller('readController', function ($scope, $sce) {

            // Class page
            function Page(name = "", points = []) {
                this.name = name
                this.points = points
            }


            // Page prep

            page = new Page('Quantum Mechanics', ['Schrodinger Wave Equation'])

            $scope.page = page
            $scope.points = page.points

            document.getElementById('title').innerHTML = $scope.page.name

            // List of fonts
            $scope.fonts = [
                'montserrat',
                'raleway',
                'comfortaa',
                'work-sans',
                'andika'
            ]

            // Default
            $scope.cFont = $scope.fonts[
                // Math.floor(Math.random() * $scope.fonts.length)
                4

            ]

            $scope.setCFont = (sel) => {
                $scope.cFont = sel;
                console.log('Hello');
            }

        })

    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: 'y=x^2' });
</script>

</html>